{
    "rules": {
      "no-console": 0,
      "no-underscore-dangle": 0,
      "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
      "no-use-before-define": ["error", { "variables": false }],
      "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
      "no-multi-str": 0,
      "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }]
    },
    "env": {
      "node": true,
      "mocha": true
    },
    "parserOptions": {
      "ecmaVersion": 8
    },
    "extends": [
      "airbnb-base"
    ]
  }
  